@charset "utf-8";
/* line 17, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../../source/stylesheets/09-zurui.sass */
.wrapper {
  width: 200px;
  padding: 50px;
  margin: 100px auto;
  background: #cccccc;
}

/* line 23, ../../source/stylesheets/09-zurui.sass */
.zurui-button {
  text-align: center;
  line-height: 2.6;
  padding: 0 1.2em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 2px;
}
/* line 37, ../../source/stylesheets/09-zurui.sass */
.zurui-button:link, .zurui-button:visited {
  border: #2a7aa3 1px solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #45a1cf), color-stop(100%, #2e87b3));
  background-image: -webkit-linear-gradient(#45a1cf, #2e87b3);
  background-image: -moz-linear-gradient(#45a1cf, #2e87b3);
  background-image: -o-linear-gradient(#45a1cf, #2e87b3);
  background-image: linear-gradient(#45a1cf, #2e87b3);
}
/* line 42, ../../source/stylesheets/09-zurui.sass */
.zurui-button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5dadd5), color-stop(100%, #3599cb));
  background-image: -webkit-linear-gradient(#5dadd5, #3599cb);
  background-image: -moz-linear-gradient(#5dadd5, #3599cb);
  background-image: -o-linear-gradient(#5dadd5, #3599cb);
  background-image: linear-gradient(#5dadd5, #3599cb);
}
/* line 45, ../../source/stylesheets/09-zurui.sass */
.zurui-button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65b1d7), color-stop(100%, #3d9dcd));
  background-image: -webkit-linear-gradient(#65b1d7, #3d9dcd);
  background-image: -moz-linear-gradient(#65b1d7, #3d9dcd);
  background-image: -o-linear-gradient(#65b1d7, #3d9dcd);
  background-image: linear-gradient(#65b1d7, #3d9dcd);
}
