---
title: Sassの基本的な書き方に挑戦
layout: basic
---
<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= data.page.title
    = stylesheet_link_tag "02-basic"
  %body{:class => page_classes}
    .wrapper
      %h1 Sassを使ってみよう
      %p.description
        %strong
          Sass
        の書き方をマスター