---
title: 変数って何？
layout: basic
---
<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= data.page.title
    = stylesheet_link_tag "03-basic"
  %body{:class => page_classes}
    .wrapper
      %h1 Sassの変数を使ってみよう
      %p.description
        %strong
          変数
        の書き方をマスター