---
title: 幅を変数にした
layout: basic
---
<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= data.page.title
    = stylesheet_link_tag "04-basic2"
  %body{:class => page_classes}
    .wrapper
      %header
        %h1 Sassの変数に四則演算を使ってみよう
      %main
        %h2 メインカラム
      #sub
        %h2 サイドカラム
      %footer
        フッタ