---
title: mixin
layout: basic
---
<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= data.page.title
    = stylesheet_link_tag "09-zurui2"
  %body{:class => page_classes}
    .wrapper
      %a.zurui-button-blue{:href => "#"} ズルいボタン青
      %a.zurui-button-red{:href => "#"} ズルいボタン赤
      %a.zurui-button-yellow{:href => "#"} ズルいボタン黃